<div class="board">
  <div id="top">
    <div class="float-left">
      <button id="top-left" (click)="readUserInput($event, 0,0)" class="col-width"> {{ input[0][0] }} </button>
    </div>
    <div class="float-left">
      <button id="top-middle" (click)="readUserInput($event, 0,1)" class="col-width"> {{ input[0][1] }} </button>
    </div>
    <div class="float-left">
      <button id="top-right" (click)="readUserInput($event, 0,2)" class="col-width"> {{ input[0][2] }} </button>
    </div>
  </div>

  <div id="middle">
    <div class="float-left">
      <button (click)="readUserInput($event, 1,0)" class="col-width"> {{ input[1][0] }} </button>
    </div>
    <div class="float-left">
      <button id="middle" (click)="readUserInput($event, 1,1)" class="col-width"> {{ input[1][1] }} </button>
    </div>
    <div class="float-left">
      <button id="left-middle" (click)="readUserInput($event, 1,2)" class="col-width"> {{ input[1][2] }} </button>
    </div>
  </div>

  <div id="bottom">
    <div class="float-left">
      <button id="bottom-left" (click)="readUserInput($event, 2,0)" class="col-width"> {{ input[2][0] }} </button>
    </div>
    <div class="float-left">
      <button id="bottom-middle" (click)="readUserInput($event, 2,1)" class="col-width"> {{ input[2][1] }} </button>
    </div>
    <div class="float-left">
      <button id="bottom-right" (click)="readUserInput($event, 2,2)" class="col-width"> {{ input[2][2] }} </button>
    </div>
  </div>
</div>
